@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(rgb(23, 20, 189), rgb(152, 15, 187));
}

section {
  /* 子供に描きアプライ */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 100px;
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* 縦に揃える */
  flex-direction: column;
}

.main-title {
  font-size: 4rem;
  margin-bottom: 50px;
}

.content {
  width: 1150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content .image {
  position: relative;
  width: 600px;
  height: 400px;
  /* はみ出た部分は見せない */
  overflow: hidden;
}

.content .image img {
  /* 親を基本に配置 */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  z-index: 10;
}

.content .text-box {
  z-index: 20;
  background: rgba(255, 255, 255, 0.1);
  padding: 40px;
  max-width: 400px;
  transform: translate(-80px, 50px);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  border-radius: 1px solid;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.content .text-box h3 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.media-icons {
  margin-top: 100px;
}

.media-icons a {
  color: white;
  font-size: 2rem;
  margin: 60px;
}

/* section-02 */
.section-title {
  font-size: 3rem;
  margin-bottom: 60px;
}

.info-title {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.info {
  width: 700px;
  margin-left: 50px;
}

/* section-03 */
.media-info {
  width: 400px;
  margin-left: 20px;
}

.media-info li {
  /* remove the bullet points */
  list-style: none;
  font-size: 1.4rem;
}

.media-info a {
  color: white;
  text-decoration: none;
}

/* do not apply to the last child, which in this case is Linkedin */
.media-info li:not(:last-child) {
  margin-bottom: 50px;
}

/* これ大事！ */
.media-info li:nth-child(1),
.media-info li:nth-child(5) {
  padding-left: 100px;
}

/* これ大事！ */
.media-info li:nth-child(2),
.media-info li:nth-child(4) {
  padding-left: 50px;
}

.sec-03 {
  margin-bottom: 100px;
}
